---
import LayoutAstroComponent from "../layouts/Layout.astro";
import HeroAstroComponent from "./Hero.astro";
import HowWorkAstroComponent from "./HowWork.astro";
---

<div class='min-h-screen overflow-x-hidden'>
<LayoutAstroComponent>
    <main class="pt-20 container mx-auto p-4">
        <HeroAstroComponent/>
        <HowWorkAstroComponent/>
    </main>
</LayoutAstroComponent>
</div>