---
import LayoutAstroComponent from "../layouts/Layout.astro";
import HeroAstroComponent from "./Hero.astro";
import HowWorkAstroComponent from "./HowWork.astro";
import ForBussinesAstroComponent from "./ForBussines.astro";
import PricesAstroComponent from "./Prices.astro";
import HelpAstroComponent from "./Help.astro";
---

<div class='min-h-screen overflow-x-hidden'>
<LayoutAstroComponent>
    <main class="mt-20">
        <HeroAstroComponent/>
        <HowWorkAstroComponent/>
        <ForBussinesAstroComponent/>
        <PricesAstroComponent/>
        <HelpAstroComponent/>
    </main>
</LayoutAstroComponent>
</div>